/******************************
	QUIENES SOMOS
*************************/

#main-qs{
	width: 100%;
	display: flex;
	justify-content: space-around;
	padding:10px;
	background-color: #f2f2f2;
}

#main-qs article{
	background-color: #6dccaa;
}

#h2-qs{
    font-style:italic;
    font-size: 20px;
	color:rgb(40, 119, 90);
}

#h1{
    text-align: left;
    font-style:italic;
    font-weight:13px;
    font-size:200%;
	color:rgb(30, 94, 71);
}

.btn--mail {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(88, 85, 85);
    color: #2b2828;
}

.btn {
    border-radius: 30px;
    color: #fff;
    background-color: rgb(71, 69, 69);
    padding: 5px 15px;
    font-size: 0.889rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}

/******************************
	CONTACTENOS
*************************/


.contactenos{
	width: 100%;
	margin: 0;
	height: auto;
	background-color: #FFF;
}

.titulo{
	background-color: #fff;
	height: 50px;
	width: 99%;
	border-radius: 15px;
	margin: 20px auto;
	display: flex;
	align-items: center;
}

.title{
	font-family: 'Amatic SC';
	font-style: italic;
	font-size: 60px;
	color: rgb(126, 138, 134);
	margin: 50px auto ;
	font-weight: bold;
}

.content-form{
	background-image: linear-gradient(to top, #6dccaa, #84d0b4, #99d3be, #add7c8, #c1dad1);	width: 50%;
	height: auto;
	margin: 10px auto;
	border-radius: 5px;
	-webkit-box-shadow: 2px -2px 8px 1px rgba(133,212,183,1);
	-moz-box-shadow: 2px -2px 8px 1px rgba(133,212,183,1);
	box-shadow: 2px -2px 8px 1px rgba(133,212,183,1);
}

#contact h3 {
	color:#FFF;
	display: block;
	font-size: 30px;
	font-weight: 400;
}

#contact h4 {
	margin:5px 0 15px;
	display:block;
	font-size:13px;
}

#contact input[type="text"], #contact input[type="email"], 
#contact input[type="tel"], #contact button[type="submit"] { 
	font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; 
}

#contact {
	padding:25px;
}

fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], 
#contact input[type="date"], #contact input[type="number"]  {
	width:100%;
	border:1px solid #CCC;
	background:#FFF;
	margin:5px 0;
	padding:10px;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover
 {
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:1px solid #AAA;
}

#contact button[type="submit"] {
	cursor:pointer;
	width:100px;
	border:none;
	background:#FFF;
	color:#6DCCAA;
	margin:0 0 5px;
	padding:10px;
	font-size:15px;
	font-weight: bold;
}

#contact button[type="submit"]:hover {
	background:rgb(25, 163, 115);
	color: #FFF;
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active { 
	box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); 
}

#contact input:focus{
	outline:0;
	border:1px solid #999;
}
::-webkit-input-placeholder {
 color:#888;
}
:-moz-placeholder {
 color:#888;
}
::-moz-placeholder {
 color:#888;
}
:-ms-input-placeholder {
 color:#888;
}

#contact label{
	color: #FFF;
	font-weight: bold;
}

contact select{
	border-radius: 30px;
}


